:root {
    --color-1: #04385D;
    --color-2: #fbf9f2;
    --color-3: #DFC265;
    --color-4: #eeecea;
    --color-poor: #E82B2B;
    --color-needs-improvement: #E5992E;
    --color-acceptable: #E5E533;
    --color-excellent: #35DC35;
    --padding: 10px;
}

* {
    margin: 0px;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

p {
    font-size: 0.95em;
}

.matter-wrapper {
    position: relative;
}

.matter-wrapper>canvas {
    position: absolute;
    /* https://stackoverflow.com/questions/11802788/get-rid-of-padding-margin-around-canvas-element */
    display: block;
    z-index: -10;
}

/* #region Scrollbar */

::-webkit-scrollbar {
    width: var(--padding);
}

::-webkit-scrollbar-track {
    background: var(--color-4);
}

::-webkit-scrollbar-thumb {
    background: var(--color-1);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-3);
}

/* #endregion */

/* #region Toolbar */

b2sb-toolbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    width: 100%;
    min-height: 70px;
    z-index: 10;
    background-color: var(--color-1);
}

.toolbar-button,
b2sb-toolbar>a {
    font-size: larger;
    color: var(--color-2);
    display: flex;
    text-decoration: none;
    padding: var(--padding);
    min-width: 70px;
    min-height: 70px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 0.15s ease, color 0.15s ease;
}

.toolbar-button:hover {
    color: var(--color-1);
    background-color: var(--color-3);
}

/* #endregion */

/* #region Sections */

.large-hori-section,
.large-vert-section,
.hori-section,
.vert-section,
.small-hori-section,
.small-vert-section {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    text-align: center;
    font-size: x-large;
    background-color: var(--color-4);
}

.large-hori-section>div,
.large-vert-section>div,
.hori-section>div,
.vert-section>div,
.small-hori-section>div,
.small-vert-section>div {
    display: flex;
    flex-flow: column nowrap;
    gap: 5vh;
    align-items: center;
    justify-content: center;
}

.large-hori-section,
.hori-section,
.small-hori-section {
    grid-template-columns: 1fr 1fr;
}

.large-hori-section>div,
.hori-section>div,
.small-hori-section>div {
    padding: 5vh 5vw;
}

.large-vert-section,
.vert-section,
.small-vert-section {
    grid-template-rows: 1fr 1fr;
}

.large-vert-section>div,
.vert-section>div,
.small-vert-section>div {
    padding: 0vh 15vw;
}

.small-hori-section,
.small-vert-section {
    height: 600px;
}

.hori-section,
.vert-section {
    height: 800px;
}

.large-hori-section,
.large-vert-section {
    height: 1000px;
}

.sections>.large-hori-section:nth-child(odd),
.sections>.large-vert-section:nth-child(odd),
.sections>.hori-section:nth-child(odd),
.sections>.vert-section:nth-child(odd),
.sections>.small-hori-section:nth-child(odd),
.sections>.small-vert-section:nth-child(odd) {
    background-color: var(--color-2);
}

/* #endregion */

b2sb-footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    background-color: var(--color-1);
    text-align: center;
    color: var(--color-2);
}

/* #region Button */

.button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    min-width: 20vw;
    min-height: 50px;
    padding: var(--padding);
    text-decoration: none;
    color: var(--color-3);
    background-color: var(--color-2);
    border: 3px solid var(--color-3);
    border-radius: var(--padding);
    transition: background-color 0.15s ease, color 0.15s ease, transform 0.2s ease-out;
}

.button:hover {
    color: var(--color-2);
    background-color: var(--color-3);
    transform: scale(1.1, 1.1);
}

/* #endregion */

.slider {
    width: 100%;
}

.slider-labels {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

/* #region Quiz Results */

.quiz-result {
    display: flex;
    flex-flow: column nowrap;
    gap: 5vh;
    opacity: 0;
    transition: opacity 0.75s ease;
}

.poor>h3 {
    color: #E82B2B;
}

.needs-improvement>h3 {
    color: #E5992E;
}

.acceptable>h3 {
    color: #E5E533;
}

.excellent>h3 {
    color: #35DC35;
}

/* #endregion */