:root {
    --color-1: #04385D;
    --color-2: #fbf9f2;
    --color-3: #DFC265;
    --color-4: #eeecea;
    --padding: 10px;
}

* {
    margin: 0px;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

::-webkit-scrollbar {
    width: var(--padding);
}

::-webkit-scrollbar-track {
    background: var(--color-4);
}

::-webkit-scrollbar-thumb {
    background: var(--color-1);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-3);
}

b2sb-toolbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    width: 100%;
    min-height: 70px;
    z-index: 10;
    background-color: var(--color-1);
}

.toolbar-button,
b2sb-toolbar>a {
    font-size: larger;
    color: var(--color-2);
    display: flex;
    text-decoration: none;
    padding: var(--padding);
    min-width: 70px;
    min-height: 70px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 0.15s ease, color 0.15s ease;
}

.toolbar-button:hover {
    color: var(--color-1);
    background-color: var(--color-3);
}

.section-span {
    grid-column: 1 / -1;
    padding: 15vw;
    display: flex;
    flex-flow: column nowrap;
    gap: 5vh;
    align-content: center;
}

.large-section,
.section,
.small-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    font-size: x-large;
}

.small-section {
    height: 600px;
}

.section {
    height: 800px;
}

.large-section {
    height: 1000px;
}

.sections>.small-section,
.sections>.section,
.sections>.large-section {
    background-color: var(--color-4);
}

.sections>.small-section:nth-child(odd),
.sections>.section:nth-child(odd),
.sections>.large-section:nth-child(odd) {
    background-color: var(--color-2);
}

b2sb-footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    background-color: var(--color-1);
    text-align: center;
    color: var(--color-2);
}

.button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    min-width: 20vw;
    min-height: 50px;
    padding: var(--padding);
    text-decoration: none;
    color: var(--color-3);
    background-color: var(--color-2);
    border: 3px solid var(--color-3);
    border-radius: var(--padding);
    transition: background-color 0.15s ease, color 0.15s ease, transform 0.2s ease-out;
}

/* .sections>.section:nth-child(even) .button,
.sections>.large-section:nth-child(even) .button {
    color: var(--color-1);
    border-color: var(--color-1);
} */

.button:hover {
    color: var(--color-2);
    background-color: var(--color-3);
    transform: scale(1.1, 1.1);
}

/* .sections>.section:nth-child(even) .button:hover,
.sections>.large-section:nth-child(even) .button:hover {
    color: white;
    background-color: var(--color-1);
} */

.button-text-list {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 5vh;
    justify-content: center;
    align-items: center;
    padding: 5vw;
}

.slider {
    width: 100%;
}

.slider-labels {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}